/*表格样式*/
.mmain_per .customer-table{height:500px; overflow-y: auto;}
.mainbox .el-table:before{background:0 none;}


.listMain-number {}

.tab-th th>.cell{font-size:20px;color:#000; font-weight: normal; padding-left: 14px; white-space: nowrap;}
.tab-td .cell{font-size: 16px; color: #666; white-space:nowrap}
.tab-td {border:0 none;}
.customer-table th{border:none;}
.customer-table td,.customer-table th.is-leaf {border:none;}
.customer-table::before{border: none;height:0px;}
.customer-table .even-row{background:#f6f7fb;}
/* 移除table组件hover背景色 */
.el-table__row:hover> td{
    background:0 none !important;
}
.ntab-checkbox .cell::after{content: '全选'; margin-left:10px;display: inline-block;vertical-align: middle;}

.customer-table td, .customer-table th{height:50px;}

/*分页样式*/
.tab-operation{text-align: right; padding: 0 50px 0 35px; padding-bottom: 20px;}
.tab-operation .btn-box{float: left;}
.page-block{display: inline-block; vertical-align: middle; margin-top: 15px;;}
.page-block .el-pager li{min-width:30px;border-radius:5px;-webkit-border-radius:5px; margin: 0 4px;color:#7c7c7c;
background:0 none;}
.page-block .el-pagination button{background:0 none;}
.page-block .el-pager li.number.active,.el-pager li.number:hover{background:#4484FD; color:#fff;}

.el-pagination .btn-next:hover .el-icon,.el-pager .more:hover::before , .el-pagination .btn-prev:hover .el-icon{color:#4484FD;}

/*按钮样式*/
.tab-operation .btn-box{padding-top:15px;}
.sbtn-default{height:30px; display:inline-block; padding: 0 14px; line-height: 30px;
border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;-ms-border-radius:15px;
background:#4484FD; color:#fff; margin: 0 15px;
}
.sbtn-default:hover{color:#fff}


/*数据统计*/
.total-table th,.total-table td{ text-align: center;}
.total-table{height:336px;}
.total-table td, .total-table th{height:56px;}

/*继续导入excel表格按钮*/
.upload-demo{display: inline-block;}
.sbtn-uoload{border:0 none;}
.sbtn-uoload:hover{background:#4484FD; color:#fff;}
.personlist-table .el-button--text{font-size:16px;}
@media screen and (max-width:1440px){
	.tab-th th>.cell{font-size: 16px;}
	
	.tab-td .cell{font-size:14px;}
	.personlist-table .el-button--text{font-size:14px;}
}



.el-dialog{
    display: flex;
    display: -ms-flex; /* 兼容IE */
    flex-direction: column;
    -ms-flex-direction: column; /* 兼容IE */
    margin:0 !important;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    max-height:calc(100% - 30px);
    max-width:calc(100% - 30px);
  }
.el-dialog .el-dialog__body{
    max-height: 100%;
    flex: 1;
    -ms-flex: 1 1 auto; /* 兼容IE */
    overflow-y: auto;
    overflow-x: hidden;
}

.el-dialog__wrapper {
    /*隐藏ie和edge中遮罩的滚动条*/
    overflow: hidden;
}
.course-dialog .el-dialog__body{border-top:1px solid #dcdcdc; padding-bottom:20px;}
.group-dialog .el-dialog__header{border-bottom:1px solid #e5e5e5;}
.group-dialog .el-dialog__body{padding:0;}
.group-dialog .el-dialog__headerbtn{/*top:10px*/}
.group-dialog .el-dialog__header{padding: 0px;}
.group-dialog .el-select{width:80%;margin:0 auto;}





/*在线人数分页*/
.online-box .el-pagination .btn-prev{padding-right:0px;min-width: auto; margin:0 2px; padding: 0 2px;}
.online-box .el-pagination .btn-next{padding-left: 0px;min-width: auto; margin:0 2px; padding: 0 2px;}

.online-box .page-block .el-pager li.more{min-width: auto;}
.online-box .page-block .el-pager li{padding:0px; margin: 0 1px;}
.online-box .page-block .el-pager li.number{min-width:28px; margin: 0 2px;}
.online-box .el-pagination__jump{margin-left: 10px;}

.dateBox{white-space: nowrap;}
.dateBox .el-date-editor{display: inline-block; vertical-align: middle; white-space: nowrap;}
.dateBox .el-date-editor.el-input, .dateBox .el-date-editor.el-input__inner{width:260px; vertical-align: middle;}
.dateBox .el-date-editor .el-range-separator{width:10%;vertical-align: top; padding: 0px !important;}
.dateBox .el-input{width:22%}
.dateBox .el-input__inner{vertical-align: middle;}
.dateBox .el-range-input{vertical-align: top; width: 35% !important;}


/*修改学生信息弹出框*/
.personDialog .el-dialog__header{border-bottom:1px solid #dcdcdc;}
.personDialog .el-dialog__body{padding: 30px 30px 0 30px;}
.personDialog .el-form-item__label{line-height:28px;}
.personDialog .el-input__inner{height:28px;line-height: 28px;}
.personDialog .el-form-item__content{line-height:28px;}
.personDialog .el-input__icon{line-height: 28px;}
.personDialog .el-dialog__footer{text-align: center;}

/*课程列表选择班级*/
.cour-select{display: block; padding-top:20px; text-align:center;}
.cour-select .el-input{width:60%; margin: 0 auto;}
.cour-select .el-input__inner{border:1px solid #3182FF; color:#3182FF;}
.cour-select .el-input__inner::-webkit-input-placeholder{color:#3182FF;}    
.cour-select .el-input__inner:-moz-placeholder{color:#3182FF;}  
.cour-select .el-input__inner::-moz-placeholder{color:#3182FF;}      
.cour-select .el-input__inner:-ms-input-placeholder{color:#3182FF;}